@charset "utf-8";
body {  
	font-family:"sans-serif","微软雅黑";
	color:#000;
}
	
a:link {
	text-decoration:none;
}

a:visited {
	text-decoration:overline;
}
a:hover {
	text-decoration:none;
	background-color:#00F;
	color:#ffffff;
}
a:active {
	text-decoration:none;
}

